.form-container{
    width: 96%;
    margin: 0 auto;
    /* border: 1px solid grey; */
    padding: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px 2px lightblue;
    background-color: #ffff;
    margin-top: 10px;
    color: rgb(30, 120, 156)
    
}
.form-container p{
    text-align: center;
    font-size: 1.5rem;
}
.form-container h1{
    color: rgb(30, 120, 156)
}
.form-container input{
    border: 2px solid skyblue;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.form-container input:focus{
    border: 2px solid rgb(30, 120, 156);
}

body{
    background-color: skyblue;
}

@media ( min-width : 770px ){
    .form-container{
        width: 30%;
        margin-top: 50px;
    }
}