.nav-filter-add-meeting{
    display: flex;
}
.filter-meetings{
    border: 1px solid grey;
    border-bottom: none;
    border-right: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 3px;
}
.add-meetings{
    flex-basis: auto;
    flex-grow: 1;
    border: 1px solid gray;
    border-top: none;
    border-right: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 3px;
}
.date-dropdown{
    width: 100%;
    border-radius: 3px;
}
.form-meeting{
    background-color: lightskyblue;
    border-radius: 3px;
    padding: 1rem;
}
.form-meeting h2{
    color: #ffff;
    border-bottom: 0.5px solid gray;
    padding-bottom: 0.75rem;
}