.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link-plain {
  text-decoration: none;
  color: initial;
}

.w-color {
  color: #ffff;
}

.w-full{
  width: 100%;
  box-sizing: border-box;
}
.b-r{
  border-radius: 4px;
}
.ps-t{
  padding-top: 5rem;
}
.f-l{
  font-size: 1.4rem;
}
.f-m{
  font-size: 1.2rem;
}
.mt-2 {
  margin-top: 0.75em;
}
.mb-2 {
  margin-bottom: 0.75em;
}
.mt-3 {
  margin-top: 1em;
}
.mb-3 {
  margin-bottom: 1em;
}
.pl-2{
    padding-left: 0.75em;
}
.pt-2{
  padding-top: 0.75em;
}
.pr-2{
padding-right: 0.75em;
}
.pr-1{
  padding-right: 0.5em;
}
.p-2{
  padding: 0.4rem;
  box-sizing: border-box;
}
.p-3{
  padding: 0.6rem;
  box-sizing: border-box;
}
.text-right{
    text-align: right;
}
.d-lg-none{
    display: none;
}
.ft-s-1{
  font-size: 1.3rem;
}
.lighter{
  color: gray;
}
.container-box{
  width: 100%;
  padding: 0em 1em 1em 1em;  box-sizing: border-box;
  /* border: 1px solid black; */
}
.btn{
  border: none;
  color: #ffff;
  padding: 0.5rem;
  border-radius: 5px;
}
.btn-primary{
background-color: rgb(30, 120, 156);
}
.f-b{
  font-weight: bolder;
}
.btn-danger{
  background-color: crimson;
}
@media (max-width: 770px){
    .d-lg-none{
        display: block;
    }
    .d-sm-none{
        display: none !important;
    }
    .d2-sm-none{
      display: none
    }
}

@media (min-width: 770px){
  .container-box{
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
}
